<!-- spring-config.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="c1" class="com.harman.demo.model.Calculator">
		<property name="no1" value="2" />
		<property name="no2" value="3" />
	</bean>

</beans>
